body {
  color: #959595;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #55a44e;
}
a:hover {
  color: #43813e;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #55a44e;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:not(.sp-group-title) {
  color: #55a44e;
}
#offcanvas-toggler >i {
  color: #959595;
}
#offcanvas-toggler >i:hover {
  color: #55a44e;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #4a8f44;
  background-color: #55a44e;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #3a7035;
  background-color: #43813e;
}
ul.social-icons >li a:hover {
  color: #55a44e;
}
.sp-page-title {
  background-color: #55a44e;
}
.layout-boxed .body-innerwrapper {
  background: #f7f7f7;
}
.sp-module ul >li >a {
  color: #959595;
}
.sp-module ul >li >a:hover {
  color: #55a44e;
}
.sp-module .latestnews >div >a {
  color: #959595;
}
.sp-module .latestnews >div >a:hover {
  color: #55a44e;
}
.sp-module .tagscloud .tag-name:hover {
  background: #55a44e;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #55a44e;
}
.search .btn-toolbar button {
  background: #55a44e;
}
.post-format {
  background: #55a44e;
}
.voting-symbol span.star.active:before {
  color: #55a44e;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #43813e;
}
.entry-link,
.entry-quote {
  background: #55a44e;
}
blockquote {
  border-color: #55a44e;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #55a44e;
}
#sp-footer {
  background: #55a44e;
}
.sp-comingsoon body {
  background-color: #55a44e;
}
.pagination>li>a,
.pagination>li>span {
  color: #959595;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #959595;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #55a44e;
  background-color: #55a44e;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #55a44e;
  background-color: #55a44e;
}
body {
  background-color: #f7f7f7;
}
#sp-search .search form input,
#sp-search .search form::after,
.article-info>dd,
.article-info>dd a,
.tags a:hover,
.tags a:focus,
#sp-left .sp-module.blog-popular-news a,
#sp-right .sp-module.blog-popular-news a {
  color: #959595;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content ul > li > a:hover,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content ul > li > a:focus,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content .latestnews > div a:hover,
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content .latestnews > div a:focus,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:not(.sp-group-title):hover,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a:hover,
.btn.sppb-btn-link,
.sppb-btn.sppb-btn-link,
.btn.btn-link,
.sppb-btn.btn-link,
.major-color,
#sp-top-bar .sppb-media>.pull-left i,
.sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .sppb-fullwidth-title,
.call-to-action-section .sppb-addon-feature .sppb-icon .sppb-icon-container i,
.sppb-addon-feature.homepage-feature .sppb-feature-box-title a:hover,
.sppb-addon-feature.homepage-feature .sppb-icon-container i,
.sppb-section.agency-feature .sppb-addon-feature .sppb-icon .sppb-icon-container,
.sppb-section.agency-feature .sppb-addon-feature .sppb-addon-title a:hover,
.article-info>dd .fa,
.article-info>dd a:hover,
.article-info>dd a:focus,
.tags a,
.entry-header h2 a:hover,
.pagination-wrapper .pagination li:first-child:not(.active) a:hover,
.pagination-wrapper .pagination li:first-child:not(.active) a:focus,
.pagination-wrapper .pagination li:first-child:not(.active):hover a,
.pagination-wrapper .pagination li:last-child:not(.active) a:hover,
.pagination-wrapper .pagination li:last-child:not(.active) a:focus,
.pagination-wrapper .pagination li:last-child:not(.active):hover a,
#sp-left .search form:after,
#sp-right .search form:after,
#sp-left .sp-module.blog-popular-news a:hover,
#sp-right .sp-module.blog-popular-news a:hover,
#sp-left .sp-module.blog-popular-news a:focus,
#sp-right .sp-module.blog-popular-news a:focus,
#sp-left .sp-module.blog-tag-cloud ul li a:hover,
#sp-right .sp-module.blog-tag-cloud ul li a:hover,
#sp-left .sp-module.blog-tag-cloud ul li a:focus,
#sp-right .sp-module.blog-tag-cloud ul li a:focus,
.blog-details-content-wrap .sppb-addon-feature .sppb-icon .sppb-icon-container,
.blog-details-content-wrap .sppb-addon-feature .sppb-addon-text em,
#sp-bottom .sp-module ul li a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter ul li.active a,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:hover,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title a:focus,
.sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info-wrap .sp-simpleportfolio-title a:focus,
.sppb-addon-accordion.finance-accordion .sppb-panel-group .sppb-panel-heading .sppb-toggle-direction i,
.sppb-addon-tab .sppb-tab .sppb-nav li a i,
.sppb-addon-animated-number .sppb-animated-number,
.pricing-plan-comparison table tr td i.fa-check,
.sppb-addon-pricing-table .sppb-pricing-header .sppb-pricing-price-container .sppb-pricing-price,
.sppb-addon-pricing-table .sppb-pricing-header .sppb-pricing-price-container .sppb-pricing-price .sppb-pricing-price-symbol,
.sppb-addon-pricing-table:hover .sppb-btn.sppb-btn-info,
.sppb-addon-pricing-table.featured .sppb-btn.sppb-btn-info,
.sppb-addon-pricing-table.featured:hover .sppb-pricing-header .sppb-pricing-price-container .sppb-pricing-price,
.sppb-addon-pricing-table.featured:hover .sppb-pricing-header .sppb-pricing-price-container .sppb-pricing-price .sppb-pricing-price-symbol {
  color: #55a44e;
}
.btn.btn-primary,
.sppb-btn.btn-primary,
.btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary,
.btn.sppb-btn-info,
.sppb-btn.sppb-btn-info,
.btn.btn-info,
.sppb-btn.btn-info {
  background-color: #55a44e;
}
.sp-megamenu-parent > li > a::before,
.major-background-color,
#sp-header.menu-fixed,
#sp-logo-wrapper,
.sppb-slider-fullwidth-wrapper .owl-controls .owl-dots .owl-dot.active span,
.sppb-slider-fullwidth-wrapper .customNavigation a,
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus,
.pagination-wrapper .pagination li span:hover,
.pagination-wrapper .pagination li a:hover,
.pagination-wrapper .pagination li span:focus,
.pagination-wrapper .pagination li a:focus,
.com-tags #adminForm .btn-group button,
.blog-details-content-wrap .pager.pagenav li a,
.blog-details-content-wrap .article-footer-wrap .helix-social-share ul li a,
.sppb-addon-blocknumber .sppb-blocknumber-number,
.sppb-addon-text-block.block-number .sppb-addon-title,
.pricing-plan-comparison table tr th.featured-price,
.sppb-addon-pricing-table:hover,
.sppb-addon-pricing-table.featured,
.sppb-addon-pricing-table.featured:hover .sppb-btn.sppb-btn-info {
  background: #55a44e;
}
.btn.btn-primary,
.sppb-btn.btn-primary,
.btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary,
.btn.sppb-btn-info,
.sppb-btn.sppb-btn-info,
.btn.btn-info,
.sppb-btn.btn-info {
  -webkit-box-shadow: 0px 3.5px 0px #4c9346;
  box-shadow: 0px 3.5px 0px #4c9346;
}
.sppb-slider-fullwidth-wrapper .customNavigation a:hover,
.corporate-feature .sppb-addon-feature:hover {
  background: #43813e;
}
div.sppb-addon-person .sppb-person-image::before {
  background: rgba(85,164,78,0.8);
}
#sp-left .sp-module.blog-tag-cloud ul li a:hover,
#sp-right .sp-module.blog-tag-cloud ul li a:hover,
#sp-left .sp-module.blog-tag-cloud ul li a:focus,
#sp-right .sp-module.blog-tag-cloud ul li a:focus,
.sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group input:focus,
.sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group textarea:focus {
  border-color: #55a44e;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #ffffff;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item span {
  color: #000000;
}
