body.rtl .sp-contact-info {
  float: left;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline li {
  margin: 0 0 0 5px;
}
body.rtl #offcanvas-toggler {
  float: left;
  margin-left: 0;
}
body.rtl #offcanvas-toggler >i {
  padding: 0 10px 0 0;
}
body.rtl .close-offcanvas {
  right: auto;
  left: 0;
}
body.rtl .offcanvas-menu {
  -webkit-transition: .4s;
  transition: .4s;
}
body.rtl .body-innerwrapper:after {
  left: 0;
}
body.rtl .offcanvas-menu {
  left: -280px;
}
body.rtl.offcanvas .offcanvas-menu {
  left: 0;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:after {
  float: left;
  margin-right: 3px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  float: left;
  content: " \f104";
}
body.rtl .sp-module ul >li >a:before {
  margin-right: 0;
  margin-left: 8px;
  content: "\f104";
  float: right;
}
body.rtl .entry-header.has-post-format {
  margin-left: 0;
  margin-right: 68px;
}
body.rtl .post-format {
  left: auto;
  right: -68px;
}
body.rtl .article-info >dt >i,
body.rtl .article-info >dd >i {
  margin-right: 0;
  margin-left: 3px;
}
body.rtl .entry-link:before {
  top: auto;
  left: auto;
  right: -60px;
  transform: rotate(-90deg);
}
body.rtl .entry-quote:before {
  left: auto;
  transform: rotate(-15deg);
  top: auto;
  right: -40px;
}
body.rtl .categories-list .page-header a.pull-right {
  float: left !important;
}
body.rtl .newsfeed-category .category li .pull-left {
  float: right !important;
}
body.rtl .search .btn-toolbar .pull-left {
  float: right !important;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .sppb-text-left {
  text-align: right;
}
body.rtl .sppb-text-right {
  text-align: left;
}
body.rtl .sppb-media > .pull-left {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .form-links a {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .sppb-slider-wrapper {
  direction: ltr;
}
body.rtl .fa-chevron-right:before {
  content: "\f053";
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  right: inherit;
  left: 0;
}
@media screen and (max-width: 767px) {
  body.rtl.offcanvas .body-wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
body.rtl ul.social-icons {
  float: left;
}
body.rtl #sp-top-bar .sppb-media > .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl #sp-top-bar .sp-module {
  float: right;
}
body.rtl #sp-logo-right .sppb-addon-feature .sppb-media > .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .sp-megamenu-parent >li:first-child > a {
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .sp-megamenu-parent >li:first-child > a::before {
  right: inherit;
  left: auto;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
  left: inherit;
  right: 0;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full {
  left: auto !important;
  right: -15px !important;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner .sp-module .sp-module-content .latestnews >div .article-list-img {
  padding-right: 0;
  padding-left: 15px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner >.row [class*="col-sm-"]:not(:first-child) {
  border-right: 1px solid rgba(0,0,0,0.07);
}
body.rtl #sp-search .search form::after {
  left: 15px;
  right: auto;
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text {
  transform: translateX(50%);
}
body.rtl .sppb-slider-fullwidth-wrapper .sppb-slideshow-fullwidth-item-bg .container {
  text-align: right;
}
body.rtl .sppb-addon-animated-number:before {
  left: -15px;
  right: auto;
}
body.rtl .acymailing_module_form .acymailing_form p.acysubbuttons {
  text-align: right;
}
body.rtl #sp-footer1 {
  text-align: right;
}
body.rtl #sp-footer2 .sppb-addon-social-media {
  float: left;
}
body.rtl #sp-footer2 .sppb-addon-social-media .social-media-text-wrap a {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .sppb-slider-fullwidth-wrapper.corporate-slider .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text {
  transform: inherit !important;
}
body.rtl .sppb-addon-accordion.finance-accordion .sppb-panel-group .sppb-panel-heading .sppb-toggle-direction {
  left: inherit;
  right: 0;
}
body.rtl .sppb-addon-accordion.finance-accordion .sppb-panel-group .sppb-panel-heading {
  padding: 20px 45px 20px 30px;
}
body.rtl .sppb-slider-fullwidth-wrapper.agency-slider .sppb-slideshow-fullwidth-item-bg .container .sppb-slideshow-fullwidth-item-text {
  transform: translateX(100%) !important;
}
body.rtl .sppb-addon-testimonial .sppb-addon-testimonial-footer {
  left: 0;
  right: 30px;
}
body.rtl .sppb-addon-testimonial-client {
  text-align: right;
  margin-left: 0;
  margin-right: 15px;
}
body.rtl .sppb-addon-tab .sppb-tab .sppb-nav li a {
  padding: 20px 35px 30px 10px;
}
body.rtl .sppb-addon-tab .sppb-tab .sppb-nav li a i {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .pricing-plan-comparison table tr th:nth-child(1),
body.rtl .pricing-plan-comparison table tr td:nth-child(1) {
  text-align: right;
}
body.rtl .reg-login-form-wrap .registration .form-group,
body.rtl .reg-login-form-wrap .login .form-group {
  text-align: right;
}
body.rtl .reg-login-form-wrap .form-validate input {
  padding: 0 20px 0 0;
}
body.rtl .reg-login-form-wrap .form-links {
  text-align: right;
}
body.rtl .reg-login-form-wrap .registration >p {
  text-align: right;
}
body.rtl .fa-angle-right:before {
  content: "\f104";
}
body.rtl .sp-simpleportfolio.sp-simpleportfolio-view-items .sp-simpleportfolio-filter {
  text-align: right;
}
body.rtl #sp-left .search form:after,
body.rtl #sp-right .search form:after {
  right: inherit;
  left: 20px;
}
body.rtl #sp-left .sp-module.blog-popular-news .article-list-img,
body.rtl #sp-right .sp-module.blog-popular-news .article-list-img {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
body.rtl #sp-left .search form input,
body.rtl #sp-right .search form input {
  padding: 0 20px 0 0;
}
body.rtl .entry-image.intro-image {
  float: right;
}
body.rtl .entry-image,
body.rtl .entry-gallery,
body.rtl .entry-video,
body.rtl .entry-audio,
body.rtl .entry-link {
  margin-right: 0;
  margin-left: 30px;
}
body.rtl article.item .entry-image,
body.rtl article.item .entry-gallery,
body.rtl article.item 
		.entry-video,
body.rtl article.item 
		.entry-audio,
body.rtl .view-article article.item 
		.entry-link {
  margin-right: inherit;
  margin-left: 0;
}
body.rtl .blog-details-content-wrap .article-footer-wrap .post_rating {
  float: left;
}
body.rtl .blog-details-content-wrap .article-footer-wrap .helix-social-share {
  float: right;
}
body.rtl .blog-details-content-wrap .article-footer-wrap .helix-social-share ul li a span {
  margin-left: 0;
  margin-right: 10px;
}
